Repository eclipse/xtext-extras, pull requests merged in 2018-09, with the labels that each got.

#296 updated versions to 2.16.0
  gradle/versions.gradle
  org.eclipse.xtext.builder.standalone.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.builder.standalone/META-INF/MANIFEST.MF
  org.eclipse.xtext.common.types.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.common.types/META-INF/MANIFEST.MF
  org.eclipse.xtext.ecore/META-INF/MANIFEST.MF
  org.eclipse.xtext.extras.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.generator/META-INF/MANIFEST.MF
  org.eclipse.xtext.java.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.java/META-INF/MANIFEST.MF
  org.eclipse.xtext.purexbase.ide/META-INF/MANIFEST.MF
  org.eclipse.xtext.purexbase.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.purexbase/META-INF/MANIFEST.MF
  org.eclipse.xtext.smap/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.ide/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.testdata/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.testing/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.testlanguages.ide/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.testlanguages/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase/META-INF/MANIFEST.MF
  releng/p2/category.xml
  releng/p2/pom.xml
  releng/pom.xml
  releng/releng-target/pom.xml
Labels: releng

#299 [eclipse/xtext#1297] update to gradle 4.10
  gradle/wrapper/gradle-wrapper.properties
Labels: releng

#298 [eclipse/xtext#1224] Detect local Jenkins environment
  Jenkinsfile
  gradle/bootstrap-setup.gradle
  gradle/upstream-repositories.gradle
  releng/pom.xml
Labels: releng

#302 [https://github.com/eclipse/xtext-xtend/issues/554]
  org.eclipse.xtext.xbase/src/org/eclipse/xtext/xbase/compiler/JvmModelGenerator.xtend
  org.eclipse.xtext.xbase/xtend-gen/org/eclipse/xtext/xbase/compiler/JvmModelGenerator.java
Labels: enhancement

#304 [eclipse/xtext#1272] Compile with Xtend 2.15
  org.eclipse.xtext.builder.standalone/xtend-gen/org/eclipse/xtext/builder/standalone/StandaloneBuilder.java
  org.eclipse.xtext.builder.standalone/xtend-gen/org/eclipse/xtext/builder/standalone/incremental/ResourceURICollector.java
  org.eclipse.xtext.generator/xtend-gen/org/eclipse/xtext/generator/adapter/StringConcatOutputImpl.java
  org.eclipse.xtext.generator/xtend-gen/org/eclipse/xtext/generator/parser/antlr/AntlrGrammarComparator.java
  org.eclipse.xtext.generator/xtend-gen/org/eclipse/xtext/generator/parser/antlr/XtextAntlrGeneratorComparisonFragment.java
  org.eclipse.xtext.java/xtend-gen/org/eclipse/xtext/java/resource/ClassFileCache.java
  org.eclipse.xtext.java/xtend-gen/org/eclipse/xtext/java/resource/JavaDerivedStateComputer.java
  org.eclipse.xtext.java/xtend-gen/org/eclipse/xtext/java/resource/JavaResource.java
  org.eclipse.xtext.xbase.ide/xtend-gen/org/eclipse/xtext/xbase/ide/DefaultXbaseIdeModule.java
  org.eclipse.xtext.xbase.ide/xtend-gen/org/eclipse/xtext/xbase/ide/contentassist/TypeFilters.java
  org.eclipse.xtext.xbase.ide/xtend-gen/org/eclipse/xtext/xbase/ide/highlighting/XbaseHighlightingStyles.java
  org.eclipse.xtext.xbase.ide/xtend-gen/org/eclipse/xtext/xbase/ide/types/ClasspathScanner.java
  org.eclipse.xtext.xbase.ide/xtend-gen/org/eclipse/xtext/xbase/ide/types/ClasspathTypeDescriptor.java
  org.eclipse.xtext.xbase.tests/xtend-gen/org/eclipse/xtext/xbase/tests/typesystem/ResolvedFeaturesTest.java
  org.eclipse.xtext.xbase/xtend-gen/org/eclipse/xtext/xbase/annotations/validation/UnresolvedFeatureCallTypeAwareMessageProvider.java
  org.eclipse.xtext.xbase/xtend-gen/org/eclipse/xtext/xbase/controlflow/EvaluationResult.java
  org.eclipse.xtext.xbase/xtend-gen/org/eclipse/xtext/xbase/formatting/BasicFormatterPreferenceKeys.java
  org.eclipse.xtext.xbase/xtend-gen/org/eclipse/xtext/xbase/formatting/FormattableDocument.java
  org.eclipse.xtext.xbase/xtend-gen/org/eclipse/xtext/xbase/formatting/XbaseFormatterPreferenceKeys.java
  org.eclipse.xtext.xbase/xtend-gen/org/eclipse/xtext/xbase/formatting2/XbaseFormatterPreferenceKeys.java
  org.eclipse.xtext.xbase/xtend-gen/org/eclipse/xtext/xbase/resource/BatchLinkableResourceStorageWritable.java
  org.eclipse.xtext.xbase/xtend-gen/org/eclipse/xtext/xbase/validation/ReadAndWriteTracking.java
Labels: codegen

#305 [eclipse/xtext#1272] Set Xtext bootstrap 2.15
  gradle/p2-deployment.gradle
  gradle/versions.gradle
  releng/releng-target/xtext-extras.target.target
Labels: releng
