Repository eclipse/xtext-extras, pull requests merged in 2020-06, with the labels that each got.

#614 [releng] Update Xtext version to 2.23.0
  gradle/versions.gradle
  org.eclipse.xtext.builder.standalone.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.builder.standalone/META-INF/MANIFEST.MF
  org.eclipse.xtext.common.types.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.common.types/META-INF/MANIFEST.MF
  org.eclipse.xtext.ecore/META-INF/MANIFEST.MF
  org.eclipse.xtext.extras.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.generator/META-INF/MANIFEST.MF
  org.eclipse.xtext.java.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.java/META-INF/MANIFEST.MF
  org.eclipse.xtext.purexbase.ide/META-INF/MANIFEST.MF
  org.eclipse.xtext.purexbase.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.purexbase/META-INF/MANIFEST.MF
  org.eclipse.xtext.smap/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.ide/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.testdata/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.testing/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.testlanguages.ide/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.testlanguages/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase.tests/META-INF/MANIFEST.MF
  org.eclipse.xtext.xbase/META-INF/MANIFEST.MF
  releng/p2/category.xml
  releng/p2/pom.xml
  releng/pom.xml
  releng/releng-target/pom.xml
Labels: bot, releng

#584 [eclipse/xtext-xtend#1035] Missing validation in context of static interface methods
  org.eclipse.xtext.xbase/src/org/eclipse/xtext/xbase/typesystem/override/OverrideTester.java
Labels: bug

#619 [eclipse/xtext#1781] update orbit to 2020-09
  releng/releng-target/xtext-extras.target.target
Labels: releng

#618 [eclipse/xtext#1801] increase build timeout
  Jenkinsfile
Labels: releng
